/* /pokedex-main/pokedex-main/styles/Home.module.css */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  color: #e3350d;
}

.addButton {
  background: #e3350d;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.pokemonList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  position: relative;
  background: #fff;
  border: 2px solid #e3350d;
  border-radius: 12px;
  padding: 1rem; /* Ajuste o padding conforme necessário */
  text-align: center;
  overflow: hidden; /* Garante que a imagem não saia do card */
  height: 250px; /* Altura fixa para o card */
}

.pokemonImageContainer {
  width: 100%; /* Largura do contêiner da imagem */
  height: 100px; /* Altura fixa para manter a proporção quadrada */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden; /* Garante que a imagem não saia do contêiner */
  margin-bottom: 1rem; /* Espaço entre a imagem e as informações */
}

.pokemonImage {
  width: 100%; /* Largura da imagem ocupa 100% do contêiner */
  height: 100%; /* Altura da imagem ocupa 100% do contêiner */
  object-fit: cover; /* Ajusta a imagem para cobrir o quadrado */
}

.pokemonInfo {
  padding: 0.5rem; /* Ajuste o padding conforme necessário */
}

.pokemonName {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.pokemonPrice {
  color: #555;
}

.sellButton {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  transition: background 0.3s ease;
}

.sellButton:hover {
  background: #218838;
}
