/* /pokedex-main/pokedex-main/styles/NovoPokemon.module.css */
.container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  color: #333;
}

.input {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
}

.submitButton {
  background: #e3350d;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}

.imagePreview {
  margin-top: 1rem;
  text-align: center;
  width: 100px; /* Largura fixa para a caixa da imagem */
  height: 100px; /* Altura fixa para a caixa da imagem */
  border: 2px solid #ccc; /* Borda para a caixa */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que a imagem não saia do contêiner */
  display: flex; /* Flexbox para centralizar a imagem */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.pokemonImage {
  width: 100%; /* Largura da imagem ocupa 100% da caixa */
  height: auto; /* Altura automática para manter a proporção */
  max-height: 100%; /* Limita a altura máxima da imagem à altura da caixa */
  object-fit: cover; /* Ajusta a imagem para cobrir o quadrado */
}
